# Fichiers système
.DS_Store
Thumbs.db

# Environnement Python
.venv/
venv/
.env/
__pycache__/
*.py[cod]
*.egg-info/
*.pkl
*.sqlite3
*.log

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/
*.code-workspace

# Données internes
data/cache/
data/strava_tiles/
note.md
cache/
data/raw_osm/
data/processed/osm_graph_filtered.graphml
data/processed/osm_graph_filtered.gpickle
data/processed/postal_population.csv
data/raw
data/processed/filtered_graph_with_strava.graphml
data/processed
src/data_collection/generate_postal_data.py
data/dem
data/gpx
data/gpx_filtered
data
valhalla_mapmatching/
valhalla_mapmatching
