# Fichiers système
.DS_Store
Thumbs.db

# Environnement Python
.venv/
venv/
.env/
__pycache__/
*.py[cod]
*.egg-info/
*.pkl
*.sqlite3
*.log

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/
*.code-workspace

# Données internes
data/cache/
data/strava_tiles/
note.md
cache/

